# IDE
.idea/

# Кэш
__pycache__/
.pytest_cache/

# Конфиденциальная информация
*.key
*.pem
secrets.json

# Логи и результаты тестирования
*.log
#*.html

# Сборка
build/
dist/
*.egg-info/

# Автоматически восстанавливаемые файлы
*.pyc
*.pyo

# Прочие файлы и директории
venv/
*.swp
